* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F2240;
    transition: all 5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 200px;
    filter: drop-shadow(8px, 16px rgb(0, 0, 0));
}

#layer1 {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    animation: flares-animation 3s infinite ease-in-out;
}

#layer2 {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#layer3 {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#layer4 {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#layer5 {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#layer6 {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#layer7 {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#layer8 {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#layer9 {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#layer10 {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

canvas {
    display: none;
}


@keyframes flares-animation {
    10% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1)
    }
  }